In [2]:
#printing hello world

print("Hello World!")

Hello World!

In [3]:
#python is case-sensetive

print('hello world')

hello world

In [7]:
"""The above two hello worlds are not same

1. Identifier---name given to a variable, can consist of letters(uppercase or lowercase), underscore and numbers. 
                It can start with a letter or an underscore.
2. While creating variables in python, you need no specify the type of the variable, we just need to iniatiliase it. 
It will identify the type of it's own. You can find the type using type().
3. Indentation matters a lot in python.
4. Single line comment:  #this is a single line comment
5. Multiline comment:  Python does not really have a syntax for multi line comments

"""

"The above two hello worlds are not same\n\n1. Identifier---name given to a variable, can consist of letters(uppercase or lowercase), underscore and numbers. \n                It can start with a letter or a number.\n2. While creating variables in python, you need no specify the type of the variable, we just need to iniatiliase it. \nIt will identify the type of it's own. You can find the type using type().\n3. Indentation matters a lot in python.\n4. Single line comment:  #this is a single line comment\n5. Multiline comment:  Python does not really have a syntax for multi line comments\n\n"

In [21]:
#Python has five standard data types −
#
#   Numbers
#    String
#    List
#    Tuple
#    Dictionary
#Python supports three different numerical types −
#
#    int (signed integers)
#    float (floating point real values)
#    complex (complex numbers)

In [22]:
a= 10
print(a)

10

In [23]:
a

10

In [24]:
type(a)

int

In [25]:
type(10.4)

float

In [26]:
type("Hello")

str

In [27]:
type("a")

str

In [28]:
#no need to exclusively give endline for next line, if you have print on diff lines, python will print it that way
s1=10
s2=20
print(s1+s2)
print(s2-s1)

30
10

In [29]:
#printing mutliple things with one print statment--- two ways
# 1. Using ","  this will add a space on its own, can be used to print obj of diff types
#2. Using "+"   this will not add a space, can be used for objects of same type

print(10,20,10.6,"hello")

10 20 10.6 hello

In [30]:
print(10 + "hello")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
print("hello"+"world")

helloworld

In [32]:
print("hello"*5)

hellohellohellohellohello

In [53]:
#Strings in python are immutable
test="I am awesome"

test1="u" + test[1:]
test1

'u am awesome'

In [65]:
#Slicing-- [start_index, stop_index, step]
test_str="Hello, how are you?"
#len(test_str)
#test_str.index("Hello")
#test_str.index("?")
#test_str[:]   #to get full string
#test_str[::-1]  #to get string in reverse
test_str[:5:2]  #from 0 to index 4 with increment of 2

'Hlo'

In [120]:
#string formatting
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [33]:
#Converting data types
int(2.3)

2

In [34]:
str(3)

'3'

In [35]:
float(3)

3.0

In [36]:
#Types of Operator

#Python language supports the following types of operators −

#    Arithmetic Operators (+,-,*,/,%,**,//)
#    Comparison (Relational) Operators
#    Assignment Operators (=,+=,-=,*=,**=,/=,%=,//=)
#    Logical Operators (AND, OR, NOT)
#    Bitwise Operators
#    Membership Operators(in  eg. x in y, not in  eg. x not in y)
#    Identity Operators(is eg x is y , x is not y )

5 in [1,3,5]

True

In [37]:
'Hello' is 'hello'

False

In [39]:
#Decision making  (keep in mind the indentation)
#Syntax:
#    if (cond):
#        statment
#    elif (cond):
#        statment
#    else:
#        statement
        
a=19
b=10
if(a>b):
    print("a i greater than b")
elif(a==b):
    print("a is equal to b")
else:
    print("a is less than b")

a i greater than b

In [40]:
#taking input in python, by default input is taken in python in string, you will have to convert it to other datatype
n=input("Enter your age: ")

Enter your age: 10

In [41]:
type(n)

str

In [42]:
age=int(input("Enter your age: "))

Enter your age: 10

In [43]:
type(age)

int

In [46]:
#Loops
#1. for loop 
#    Syntax:
#        for i in range(lower,upper, step):   //upper=lower-1
#            statment
#2. While loop
#    Syntax:
#        
#        while(cond):
#            statment
        
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [54]:
#print first 10 multiples of 3
for i in range(1,11):
    print(3*i)

3
6
9
12
15
18
21
24
27
30

In [57]:
#print all nos from 1 to 10
a=10
while(a>=1):
    print(a)
    a=a-1

10
9
8
7
6
5
4
3
2
1

In [67]:
#lists in python[]
#1. Collection of objects which are of same of different type, duplicate members allowed
#2. mutable
#3. operations- index, slice, append,pop,max,min,sort,len,del,insert,remove
#creating a list
l=[1,2,3,4,5,"hello",7.8]
l

[1, 2, 3, 4, 5, 'hello', 7.8]

In [68]:
#length of list-- no of elements in the list
len(l)

7

In [69]:
l[2:]

[3, 4, 5, 'hello', 7.8]

In [70]:
l[1]="world"
l

[1, 'world', 3, 4, 5, 'hello', 7.8]

In [71]:
#adding items to end of list
l.append(0)
l

[1, 'world', 3, 4, 5, 'hello', 7.8, 0]

In [72]:
#to add at a specific index
l.insert(1,'u')
l

[1, 'u', 'world', 3, 4, 5, 'hello', 7.8, 0]

In [73]:
#remove an element
l.remove("u")
l

[1, 'world', 3, 4, 5, 'hello', 7.8, 0]

In [74]:
#remove element from last pop() returns the element removed
l.pop()

0

#del l -- will delete complete list

In [76]:
min([1,2,3,4,0])

0

In [77]:
#copy one list from another
l2=l.copy()
l2

[1, 'world', 3, 4, 5, 'hello', 7.8]

In [78]:
#join two lists : list1 + list2
l+l2

[1, 'world', 3, 4, 5, 'hello', 7.8, 1, 'world', 3, 4, 5, 'hello', 7.8]

In [89]:
#add one list at the end of another
l3=[1,2]
l3.extend([5,4,3])
l3

[1, 2, 5, 4, 3]

In [91]:
l3.sort()
l3

[1, 2, 3, 4, 5]

In [94]:
l3.reverse()
l3

[5, 4, 3, 2, 1]

In [96]:
#iterate through a list
#print square of every element of a list
f_list=[1,2,3]
for i in range(len(f_list)):
    print(f_list[i]**2)

1
4
9

In [97]:
for i in f_list:
    print(i**2)

1
4
9

In [100]:
aa=f_list*2
aa

[1, 2, 3, 1, 2, 3]

In [101]:
#count occurence of an element in list
aa.count(1)

2

In [102]:
#Dictionary in python{}
#1. key: value pair, duplicate key not allowed
#2. accessing element of dict: dict_name[key]

d={"name":"john","age":10,"standard":"fifth"}
d

{'name': 'john', 'age': 10, 'standard': 'fifth'}

In [103]:
#accessing element
d['name']

'john'

In [104]:
#get items in dict  returns list of dict's tupple pair
d.items()

dict_items([('name', 'john'), ('age', 10), ('standard', 'fifth')])

In [105]:
#getting keys
d.keys()

dict_keys(['name', 'age', 'standard'])

In [106]:
#getting values
d.values()

dict_values(['john', 10, 'fifth'])

In [108]:
#iterate through a dict
for i in d:
    if(d[i]=='john'):
        print("Dictionary contains John's entry")
        break
    else:
        print("Entry not available")

Dictionary contains John's entry

In [109]:
#updating dict
d["name"]="doe"
d

{'name': 'doe', 'age': 10, 'standard': 'fifth'}

In [111]:
#functions in python
#Syntax:
#    def fn_name(parameter):
#        body
def addition(a,b):
    return a+b
print(addition(2,3))

5

In [112]:
#Exception handling
#1. When a Python script encounters a situation that it cannot cope with, it raises an exception(not expected to happen)
#2. An exception is a Python object that represents an error.
#3. When a Python script raises an exception, it must either handle the exception immediately otherwise it
#   terminates and quits.
#4. If you have some suspicious code that may raise an exception, you can defend your program by placing the
#   suspicious code in a try: block.
#
#Syntax:
#    try:
#       You do your operations here
#   ......................
#    except ExceptionI:
#       If there is ExceptionI, then execute this block.
#    except ExceptionII:
#       If there is ExceptionII, then execute this block.
#   ......................
#    else:
#       If there is no exception then execute this block.

In [114]:
#Divison by 0 exception
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
try:
    (print(a/b))
except ZeroDivisionError:
    print("Division by zero is not allowed")

Enter the first number: 10
Enter the second number: 0
Division by zero is not allowed

In [116]:
#out of index error
l=[1,2,3]
a=int(input("Enter the index of the list you want to print: "))
try:
    print(l[a])
except IndexError:
    print("Out of index")

Enter the index of the list you want to print: 10
Out of index

In [117]:
#name error-- name not found in local or global space
try:
    print(ans)
except NameError:
    print("Does not exist")

Does not exist

In [118]:
#You can use a finally: block along with a try: block. 
#The finally: block is a place to put any code that must execute, whether the try-block raised an exception or not.

In [119]:
#Divison by 0 exception
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
try:
    (print(a/b))
except ZeroDivisionError:
    print("Division by zero is not allowed")
finally:
    print('This block will always execute')

Enter the first number: 10
Enter the second number: 0
Division by zero is not allowed
This block will always execute